*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#09090B;

    color:white;

    font-family:Arial,sans-serif;

}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 8%;

}

.logo{

    font-size:32px;

    color:#D4AF37;

    font-weight:bold;

}

nav{

    display:flex;

    gap:30px;

}

nav a{

    color:white;

    text-decoration:none;

}

.hero{
    min-height:100vh;

    background:
    linear-gradient(rgba(9,9,11,.65),rgba(9,9,11,.75)),
    url("assets/images/hero-background.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    padding:20px;
}

    



.hero h1{

    font-size:58px;

    max-width:900px;

    margin-bottom:20px;

}

.hero p{

    color:#bcbcbc;

    max-width:700px;

    margin-bottom:40px;

    line-height:1.8;

}

.buttons{

    display:flex;

    gap:20px;

}

.primary{

    background:#D4AF37;

    color:black;

    padding:15px 35px;

    border-radius:50px;

    text-decoration:none;

    font-weight:bold;

}

.secondary{

    border:2px solid #D4AF37;

    color:#D4AF37;

    padding:15px 35px;

    border-radius:50px;

    text-decoration:none;

}
.primary,
.secondary{
    transition:0.3s ease;
}

.primary:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 30px rgba(212,175,55,.35);
}

.secondary:hover{
    background:#D4AF37;
    color:#09090B;
    transform:translateY(-4px);
}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;

    background:rgba(9,9,11,.55);

    backdrop-filter:blur(14px);

    padding:20px 8%;
}
